<el-aside style="width:auto">
  <el-menu :default-openeds="['1', '3']">
    <router-link to="/">
    <el-submenu index="1">
      <template slot="title"><img class="icon-car" src="../../assets/ic_directions_car_black_24dp_1x.png" alt="my icon"/>Cars</template>
      <router-link to="sedan-cars">
        <el-menu-item index="1-1">Sedan</el-menu-item>
      </router-link>
      <router-link to="suv-cars">
        <el-menu-item index="1-2">SUV</el-menu-item>
      </router-link>
      <router-link to="van-cars">
        <el-menu-item index="1-3">Van</el-menu-item>
      </router-link>
      <router-link to="sport-cars">
        <el-menu-item index="1-4">Sports Car</el-menu-item>
      </router-link>
      <router-link to="/luxury-cars">
        <el-menu-item index="1-5">Luxury Car</el-menu-item>
      </router-link>
      <router-link to="/truck-cars">
        <el-menu-item index="1-6">Truck</el-menu-item>
      </router-link>
    </el-submenu>
    </router-link>
    <router-link to="/my-reservations">
      <el-menu-item index="3" v-if="userLogged">
        <img class="icon-assignment" src="../../assets/ic_assignment_black_24dp_1x.png" alt="my icon"/>
        <span>My Reservations</span>
      </el-menu-item>
    </router-link>
    <router-link to="/locations">
    <el-menu-item index="3">
      <img class="icon-location" src="../../assets/ic_location_on_black_24dp_1x.png" alt="my icon"/>
      <span>Locations</span>
    </el-menu-item>
    </router-link>
    <el-menu-item index="3">
      <img class="icon-offer" src="../../assets/ic_local_offer_black_24dp_1x.png" alt="my icon"/>
      <span>Offers</span>
    </el-menu-item>
    <router-link to="/registration">
      <el-menu-item index="3">
        <img class="icon-assignment" src="../../assets/ic_person_add_black_24dp_1x.png" alt="my icon"/>
        <span>Registration</span>
      </el-menu-item>
    </router-link>
      <el-menu-item index="3" v-if="userLogged" v-on:click="signOutUser">
        <img class="icon-assignment" src="../../assets/ic_exit_to_app_black_24dp_1x.png" alt="my icon"/>
        <span>Sign out</span>
      </el-menu-item>
    <router-link to="/sign-in" v-else>
      <el-menu-item index="3">
        <img class="icon-assignment" src="../../assets/ic_lock_open_black_24dp_1x.png" alt="my icon"/>
        <span>Sign in</span>
      </el-menu-item>
    </router-link>
  </el-menu>
</el-aside>
