<div class="main">
  <el-row>
    <el-col :span="24">
      <h1>Make a reservation</h1>
    </el-col>
  </el-row>
  <el-row>
    <el-col :span="12">
      <h4 class="car-type">Car type: </h4>
    </el-col>
    <el-col :span="12">
      <div class="select-car-type">
        <el-select v-model="value" placeholder="Select">
          <el-option
            v-for="item in carTypes"
            :key="item"
            :label="item"
            :value="item">
          </el-option>
        </el-select>
      </div>
    </el-col>
  </el-row>


  <el-row class="select-date-row">

    <el-col :span="12">
      <h4 class="select-date-label">Date: </h4>
    </el-col>
    <el-col :span="12">
      <div class="select-date">
        <el-date-picker
          v-model="value3"
          type="datetimerange"
          range-separator="To"
          start-placeholder="Start date"
          end-placeholder="End date">
        </el-date-picker>
      </div>
    </el-col>

  </el-row>

  <el-row class="select-date-row">

    <el-col :span="24">
      <el-button type="primary" icon="el-icon-search">Search</el-button>
    </el-col>


  </el-row>



</div>
